/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #DD2D28;
  --ifm-color-primary-dark: #de1b74;
  --ifm-color-primary-darker: #1c6ed9;
  --ifm-color-primary-darkest: #1c6ed9;
  --ifm-color-primary-light: #1c6ed9;
  --ifm-color-primary-lighter: #1c6ed9;
  --ifm-color-primary-lightest: #1c6ed9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #005BAB;
  --ifm-color-primary-dark: #1c6ed9;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.centered-caption {
  text-align: center;
}

/*Apply custom styles to all tables*/
.markdown table {
  width: 100%;
  /* Full width */
  background-color: #f2f2f2;
  color: rgb(70, 70, 70);
  /* Light gray background */
  border-collapse: collapse;
  display: inline-table;
}

/* Apply styles to the table header (th) */
.markdown table th {
  background-color: #005BAB;
  /* Light blue header */
  color: #ffffff;
  padding: 10px;
  text-align: left;
}

/* Apply styles to alternating table rows (tr) */
.markdown table tr:nth-child(even) {
  background-color: #ffffff;
  /* White background for even rows */
}

/* Apply styles to the table cells (td) */
.markdown table td {
  padding: 10px;
  height: 20px;
}

.footer {
  background-color: #0d5a8c;
  padding-bottom: 0px;
  padding-top: 0px;
}

/*.menu__link {*/
/*  color: #DD2D28;*/
/*}*/
.menu__link--active:hover {
  color: red;
}

.markdown>pre,
.markdown>ul,
.markdown>p {
  margin-bottom: var(--ifm-leading);
  text-align: justify;
}



* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
}

.hero-section {
  align-items: flex-start;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  /* min-height: 100%; */
  justify-content: center;
  padding: 64px 24px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.custom_card {
  list-style: none;
  position: relative;
  height: 300px;

}

.custom_card:before {
  content: '';
  display: block;
  /* padding-bottom: 150%; */
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.custom_card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover>.card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
}

.card__category {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


.navbar__logo {
  box-sizing: border-box;
  height: 80px;
  /* background-color: #ffffff;
  box-shadow: 1px 6px 25px 0 rgba(255, 255, 255, 0.3); */
  width: 100%;
  padding: 0 5%;
  align-items: center;
}


.navbar {
  box-sizing: border-box;
  /* border: 1px solid #f9f7f7; */
  /* background-color: #ffffff; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  width: 100%;
  padding: 0 2%;
  align-items: center;
  height: 80px;
}



.nav-item {
  height: 80px;
  font-family: sans-serif;
  align-items: center;
  display: flex;
}

.navbar__brand {
  height: 80px;
}



.home-main {
  height: calc(100vh - 103px);
  display: flex;
  align-items: center;
  background-color: #F7F8FD;
  /* background-image: url(hero_banner_bg.png); */
  background-size: 100% 100%;
}

@media only screen and (max-width: 768px) {
  .home-main {
    display: flex;
    flex-direction: column;
  }

}





.text {
  width: 50%;
  padding: 0px 50px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.main-text {
  color: rgba(0, 0, 0, .85);
  font-family: sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 54px;
  text-align: center;
  color: #0d5a8c;
}

.main-text span {
  font-size: 28px;
}

.main-link {
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  width: 157px;
  border-radius: 25px;
  background-color: #0d5a8c;
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.main-link:hover {
  transform: scale(1.05) translateZ(0);
}


.image {
  width: 50%;
  padding: 75px 30px 0 0;
}


.home-container {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home-feature-card {
  width: 100%;
  display: flex;
  padding: 2rem;
  transition: 0.3s;
  align-items: center;
  border-color: grey;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}

.home-feature-card:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}



.home-text {
  font-style: normal;
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1rem;
}